* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --funte-titulo-1: titulo1;
    --fuente-parrafo1: parrafo;
    --fuente-frase-titulo: 'Montserrat', sans-serif;
    --color-fondo-body: rgb(14, 14, 14);
    --color-titulo-naranja: rgb(224, 78, 15);
    --color-titulo-parrafo1: rgb(139, 136, 136);

}

/* FUENTES */
@font-face {
    font-family: titulo1;
    src: url(../../fuentes/inicio/Roboto/static/Roboto-ExtraBold.ttf);
}

@font-face {
    font-family: parrafo;
    src: url(../../fuentes/inicio/Open_sans/static/OpenSans-Medium.ttf);
}

/* SECCIÓN "HERO" */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 610px;
    overflow: hidden;
    /* Para que el pseudo-elemento no se salga */
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    /* Configuración imagen */
    background-image: url(../../images/paginas/cleverDev/hero/imagenBienvenidaCleverDev.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Manda la imagen detrás del contenido */

    /* Modificaciones */
    opacity: 0.9;
    /* Control de la transparencia */
    /* filter:grayscale(100%); */
    /* LE pone como un gris */
    filter: brightness(30%);
}

.textContenidoHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}

.tituloContenidoHero {
    margin-bottom: 50px;
}

.tituloContenidoHero h1 {
    text-align: center;
    font-family: var(--funte-titulo-1);
    font-size: 60px;
    color: rgba(255, 255, 255);
}

.tituloContenidoHero h2 {
    text-align: center;
    font-family: var(--funte-titulo-1);
    font-size: 25px;
    color: rgba(255, 255, 255);
}
.resaltado{
    color: var(--color-titulo-naranja);
}

/* SECCION CARACTERISTICAS EMPRERSA */
.caracteristicasEmpresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    min-height: 300px;
    background-color: var(--color-fondo-body);
    padding: 100px;
    gap: 10px;
}
.tituloCaracteristicas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 213, 213);
    max-width: 400px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 2px 3px white;
}
.tituloCaracteristicas h1{
    font-family: var(--funte-titulo-1);
    font-size: 30px;
    font-weight: 100;
    color: rgb(52, 50, 50);
    line-height: 29px;
}
.descripcionCaracteristicas{
    max-width: 400px;
    align-items: center;
    background-color: rgb(220, 213, 213);
    border-radius: 7px;
    padding: 20px;
}